.btn{
    display:flex;
    align-items:center;
    justify-content: center;
    border:none;
    border-radius:0 3px 3px 0;
    width:100px;
    height:40px;
    background:#e64b4b;
    color:#fff;
    text-transform: uppercase;
    font-size:14px;
    cursor:pointer;
}
input[type=text]{
    flex-grow:1;
    background:#fff;
    border-radius:3px 0 0 3px;
    height:20px;
    border:#ccc;
    padding:10px;
}