.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    background: #5845f1;
    color:#fff;
    padding:20px;
}
.header h2{
    text-transform: uppercase;
}
.header .form{
    display: flex;
    width:100%;
}